* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body */
body {
  background-color: #f0f0f0;
}

/* Header */
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 1rem;
}

header a {
  color: white;
  text-decoration: none;
}

.logo a {
    color: #b6895b;
    font-size: 1.3rem;
    font-weight: 700;
}

/* main */
main {
  margin: 0px 100px;
  padding: 30px;
  background-color: white;
}

article {
  margin: 20px 0px;
}

article h1 {
  text-align: center;
}

article a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

article p {
    text-indent: 20px;
    text-align: justify;
}

.sosmed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.photo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.photo img {
    width: 200px;
    border-radius: 10px;
}

/* Footer */
footer {
  background-color: #b6895b;
  text-align: center;
  padding: 1rem 0;
}
